{% set title,ngapp = 'Multiple Factors',"NumbersApp" %}
{% extends 'master.html' %}
{% block content %}
    {% raw %}
    <div class="number-block" ng-controller="NumberController">
        <div class="number-row" ng-repeat="row in rows">
            <div class="number" 
                ng-repeat="cell in row" ng-click="on_number(cell)" 
                ng-class="{ selected: cell.selected, square: cell.square, multiple: cell.multiple, factor: cell.factor  }"
            >
                <div class="num">{{cell.number}}</div>
                <div class="equation">{{cell.equation}}</div>
            </div>
        </div>
    </div>
    {% endraw %}
{% endblock %}
{% block page_scripts %}
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.10/angular.min.js"></script>
<script src="./numbers.js"></script>
{% endblock %}
{% block page_style %}
<style type="text/css">
    .number-block {
        font-size: large;
        color: black;
        padding: 2em;
        margin: 0;
        width: 95%;
    }
    .number-row {
        padding-top: .3em;
    }
    .number-block .number {
        vertical-align: top;
        display: inline-block;
        width: 9.5%;
        border-radius: 4px;
        text-align: center;
        *display: inline;
    }
    .number .equation {
        font-size: .5em;
    }
    
    .factor {
        background-color: yellow;
    }
    .multiple {
        background-color: green;
        color: white;
    }
    .number.selected {
        background-color: red;
        color: white;            
    }
    .multiple.square {
        background-color: blue;
    }
    .factor.square {
        background-color: indigo;
        color: white;
    }
    
</style>
{% endblock %}
