django==1.6.8
django-annoying
psycopg2
gunicorn
pytz
dateutils
python-dateutil
django_nose
git+https://github.com/mcfletch/webassets#egg=webassets
git+https://github.com/mcfletch/django-assets#egg=django_assets
south
requests==2.3.0
yuicompressor
ipython
coverage==3.7.1
netaddr
netifaces
nose
pyserial
#inotifyx
http://launchpad.net/inotifyx/dev/v0.2.0/+download/inotifyx-0.2.0.tar.gz
