<!DOCTYPE html>
<html lang="en" {% if ngapp %}ng-app="{{ngapp}}"{% endif %}>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"  media="screen,projection"/>
    <link rel="stylesheet" type="text/css" media="screen" href="{{ STATIC_URL }}css/site.css" />
    {% block page_style %}
    {% endblock %}
    <title>{% block headertitle %}{{title|default:"WebToys"}}{%endblock%}</title>
    
  </head>
<body>
{% block header %}
<nav>
<div class="location-bar">
    <div class="brand-logo" ><a href="../">Web Toys</a> {{title}}</div>
</div>
</nav>
{% endblock %}
<div class="main-body">
{% block content %}
{% endblock %}
</div>
<div class="scripts">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/react/0.11.2/react.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    {% block page_scripts %}
    {% endblock %}
</div>
</body>
</html>
