body {
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 0;
    margin: 0;
    background-color: #f0f0f0;
    overflow-x: hidden;
}
nav {
    background-color: #f00000;
    color: #f7f7f7;
    font-weight: lighter;
}
.location-bar .brand-logo {
    left: 3px;
}
.location-bar .brand-logo a {
    color: #f7fff7;
    font-weight: bold;
}
.location-bar .brand-logo a:hover {
    color: #ffffff;
}
a {
    text-decoration: none;
    color: blue;
}

.selected.power {
    background-color: black;
}
.selected.power.power-1 {
    background-color: red;
}
.selected.power.power-2 {
    background-color: orange;
}
.selected.power.power-3 {
    background-color: yellow;
}
.selected.power.power-4 {
    background-color: green;
}
.selected.power.power-5 {
    background-color: blue;
}
.selected.power.power-6 {
    background-color: indigo;
}
.selected.power.power-7 {
    background-color: grey;
}
.selected.power.power-8 {
    background-color: dark-green;
}
.selected.power.power-9 {
    background-color: dark-brown;
}
.selected.power.power-10 {
    background-color: dark-grey;
}

.factor {
    background-color: yellow;
}
.multiple {
    background-color: green;
    color: white;
}
.number.selected {
    background-color: red;
    color: white;            
}
.multiple.square {
    background-color: blue;
}
.factor.square {
    background-color: indigo;
    color: white;
}
.clear-both {
    clear: both;
}
.templates {
    display: none;
}
