{% set title = 'WordList' %}
{% extends 'master.html' %}
{% block content %}
<div class="word-list">
    
</div>
{% endblock %}
{% block page_scripts %}
<script src="./wordlists.json"></script>
<script src="./playword.js"></script>
<script>
$(document).ready( function() {
    var list = $('.word-list');
    var render_wordlist = function( wordlist ) {
        var group = $('<div class="word-group"></div>');
        group.addClass( wordlist.name );
        $.map( wordlist.words, function(word) {
            var element = $('<div class="vocabulary-word"></div>').text( word );
            element.click( function( evt ) {
                $.play_word( word );
            });
            group.append( element );
        });
        return group;
    };
    var render_wordlists = function( data ) {
        $.map( data.wordlists, function( wordlist ) {
            list.append( render_wordlist( wordlist ));
        });
    };
    render_wordlists(WORDLIST);
});
</script>
{% endblock %}
{% block page_style %}
<style>
    .vocabulary-word {
        display: inline-block;
        width: 10em;
        text-align: center;
        margin: 3px;
        padding: 3px;
        border-radius: 4px;
    }
    .wl-0 .vocabulary-word {
        background-color: red;
        color: white;
    }
    .wl-1 .vocabulary-word {
        background-color: orange;
        color: white;
    }
    .wl-2 .vocabulary-word {
        background-color: green;
        color: white;
    }
    .wl-3 .vocabulary-word {
        background-color: indigo;
        color: white;
    }
    
</style>
{% endblock %}
