{% extends 'master.html' %}
{% block content %}
    
    <div id="counting-by-holder">
    </div>
{% endblock %}
{% block page_style %}
    <style type="text/css">
        .group-view {
            width: 99%;
        }
        .number-block {
            font-size: large;
            color: black;
            padding: 2em;
            margin: 0;
            width: 95%;
        }
        .number-row {
            padding-top: .3em;
        }
        .number-block .number {
            vertical-align: top;
            border-radius: 4px;
            text-align: center;
            min-width: 3em;
        }
        .cell {
            text-align: right;
            vertical-align: top;
        }
        .number .equation {
            font-size: .5em;
        }
        .selected {
            background-color: black;
            color: white;
        }
    </style>
{% endblock %}
{% block page_scripts %}
    <script src="{{STATIC_URL}}js/basestorage.js"></script>
    <script src="{{STATIC_URL}}js/countingby.js"></script>
{% endblock %}
