{% extends 'master.html' %}
{% block content %}
<div class="container">
    <div class="row">
    <div class="col s12 m6">
        <div class="card">
            <div class="card-title"><h4>Skip Counting</h4></div>
            <div class="card-content">
                <div>5, 10, 15, 20, ...</div>
                <div>2, 4, 6, 8, ...</div>
            </div>
            <div class="card-action">
                <a href="{% url 'countingby' %}">Counting By</a>
                <a href="{% url 'multiplefactors' %}">Multiple Factors</a>
            </div>
        </div>
    </div>
    <div class="col s12 m6">
        <div class="card">
            <div class="card-title"><h4>Numbers</h4></div>
            <div class="card-content">
                <div>Numbers, decimal places, polygons</div>
            </div>
            <div class="card-action">
                <a href="{% url 'powersten' %}">Powers Ten</a>
                <a href="{% url 'polygons' %}">Polygons</a>
            </div>
        </div>
    </div>
    </div>
    <div class="row">
    <div class="col s12 m6">
        <div class="card">
            <div class="card-title"><h4>Say What?</h4></div>
            <div class="card-content">
                <div>Type phrases for the computer to read out</div>
            </div>
            <div class="card-action">
                <a href="{% url 'saywhat' %}">Say What</a>
            </div>
        </div>
    </div>
    <div class="col s12 m6">
        <div class="card">
            <div class="card-title"><h4>Sight Words</h4></div>
            <div class="card-content">
                <div>Listen to sight words</div>
                <div>Identify sight words</div>
            </div>
            <div class="card-action">
                <a href="{% url 'wordlist' %}">Word List</a>
                <a href="{% url 'clickfast' %}">Click Fast</a>
            </div>
        </div>
    </div>
    </div>
    <div class="row">
    <div class="col s12 m6">
        <div class="card">
            <div class="card-title"><h4>Words in Words</h4></div>
            <div class="card-content">
                <div>Find words by prefix, infix or suffix</div>
                <div>Find words within longer words</div>
            </div>
            <div class="card-action">
                <a href="{% url 'subwords' %}">Sub Words</a>
                <a href="{% url 'innerwords' %}">Inner Words</a>
            </div>
        </div>
    </div>
    </div>
</div>
{% endblock %}
{% block page_scripts %}
{% endblock %}
{% block page_style %}
    <style type="text/css">
        .card {
        }
    </style>
{% endblock %}
