{% extends 'master.html' %}
{% block content %}
<input class="filter" type="text" />
<div class="word-list audio-source" data-base-url="{% url 'saywhat' %}">
</div>

{% endblock %}
{% block page_scripts %}
<script src="{{STATIC_URL}}js/playword.js"></script>
<script src="{{STATIC_URL}}js/words.js"></script>
<script>
$(document).ready( function() {
    var list = $('.word-list');
    var filter_entry = $('.filter');
    var base_url = list.attr('data-base-url');

    var okay_1_char_words = {
        'I':true,
        'a':true,
        'O':true,
    };
    var matching_words = function( word ) {
        return $.grep( dictionary, function( value ) {
            try {
                return (
                    value && 
                    (value.length > 1 || okay_1_char_words[value]) &&
                    value.length < word.length && 
                    word.indexOf(value) != -1 && 
                    value !==word
                );
            } catch (e) {
                console.log( 'Error with '+value +' '+word+ ' '+e );
            }
        });
    };
    var on_change = function() {
        var value = filter_entry.val();
        list.empty();
        if (!value.length) {
            list.append( $('<div class="no-filter">Choose a root word</div>'));
        } else {
            var matches = matching_words( $('.filter').val() );
            if (!matches.length) {
                list.append( $('<div class="no-matches">No words found in that root</div>'));
            } else {
                $.map( matches, function( word ) {
                    var line = $('<div class="match"><span class="vocabulary-word"></span><i class="define fa fa-question"></i></div>');
                    line.find('.vocabulary-word').text(word).click( function(evt) {
                        $.play_word( word, base_url );
                    });
                    line.find('.define').click( function(evt) {
                        window.location.href = 'https://www.google.ca/search?q=define%3A'+encodeURIComponent(word);
                    });
                    list.append( line );
                });
            }
        }
    };
        
    filter_entry.keyup( function(event) {
        on_change();
        return false;
    });
    $('input[name=fix]').change( function( event ) {
        on_change();
        return false;
    });
    on_change();
});
</script>
{% endblock %}
{% block page_style %}
<style>
    .vocabulary-word {
        display: inline-block;
        width: 10em;
        text-align: center;
        margin: 3px;
        padding: 3px;
        border-radius: 4px;
        background-color: red;
        color: white;
    }
    .match {
        width: 12em;
    }
    .define {
    }
    input.filter {
        width: 10em;
    }
    .word-list {
        width: 10em;
    }
    .word-list.prefix {
        text-align: left;
    }
    .word-list.suffix {
        text-align: right;
    }
    .word-list.anyfix {
        text-align: center;
    }
    
</style>
{% endblock %}
