{% extends 'master.html' %}
{% block content %}
<div class="container">
<ul>
    <li>
        <input id="prefix" value="prefix" name="fix" type="radio" />
        <label for="prefix">Prefix</label>
    </li>
    <li>
        <input id="anyfix" value="anyfix" name="fix" type="radio" />
        <label for="anyfix">Anywhere</label>
    </li>
    <li>
        <input id="suffix" value="suffix" name="fix" type="radio" CHECKED />
        <label for="suffix">Suffix</label>
    </li>
</ul>
<input placeholder="Search text" id="filter-text" class="filter input-field" type="text" />
<div class="word-list audio-source" data-base-url="{% url 'saywhat' %}">
</div>
</div>
{% endblock %}
{% block page_scripts %}
<script src="{{STATIC_URL}}js/playword.js"></script>
<script src="{{STATIC_URL}}js/words.js"></script>
<script>
$(document).ready( function() {
    var list = $('.word-list');
    var filter_entry = $('.filter');
    var base_url = list.attr('data-base-url');
    var selected_position = function( ) {
        return $('input[name=fix]:checked').val();
    };
    var word_regex = function( word ) {
        var position = selected_position();
        var matcher;
        if (position === 'prefix') {
            matcher = new RegExp( '^'+word+'.*$' );
        } else if (position ==='suffix') {
            matcher = new RegExp( '^.*'+word+'$' );
        } else {
            matcher = new RegExp( '^.*'+word+'.*$' );
        }
        return matcher;
    };
    var matching_words = function( word ) {
        var matcher = word_regex( word );
        return $.grep( dictionary, function( value ) {
            try {
                return matcher.test( value );
            } catch (e) {
                console.log( 'Failure matching '+e+ ' '+value );
            }
        });
    };
    var on_change = function() {
        var position = selected_position();
        $.map(['prefix','suffix','anyfix'],function( value ) {
            if (position === value) {
                list.addClass(value);
            } else {
                list.removeClass( value );
            }
        });
        var value = filter_entry.val();
        list.empty();
        if (!value.length) {
            list.append( $('<div class="no-filter">Type a word to find the words inside it</div>'));
        } else {
            var matches = matching_words( $('.filter').val().toLowerCase() );
            if (!matches.length) {
                list.append( $('<div class="no-matches">No words found with that filter</div>'));
            } else {
                $.map( matches.slice(0,150), function( word ) {
                    if (! word) { return; }
                    
                    var line = $('<div class="match"><span class="vocabulary-word"></span><i class="define fa fa-question"></i></div>');
                    line.find('.vocabulary-word').text(word).click( function(evt) {
                        $.play_word( word, base_url );
                    });
                    line.find('.define').click( function(evt) {
                        window.location.href = 'https://www.google.ca/search?q=define%3A'+encodeURIComponent(word);
                    });
                    list.append( line );
                });
            }
        }
    };
        
    filter_entry.keyup( function(event) {
        on_change();
        return false;
    });
    $('input[name=fix]').change( function( event ) {
        on_change();
        return false;
    });
    on_change();
});
</script>
{% endblock %}
{% block page_style %}
<style>
    .vocabulary-word {
        display: inline-block;
        width: 10em;
        text-align: center;
        margin: 3px;
        padding: 3px;
        border-radius: 4px;
        background-color: red;
        color: white;
    }
    .match {
    }
    .word-list {
    }
    .word-list.prefix {
        text-align: left;
    }
    .word-list.suffix {
        text-align: right;
    }
    .word-list.anyfix {
        text-align: center;
    }
    
</style>
{% endblock %}
