{% extends 'master.html' %}
{% block content %}
<div class="word-list">
    {% for wordlist in wordlists %}
    <div class="word-group {{wordlist.name}}" data-base-url="{% url 'saywhat' %}">
        {% for word in wordlist.words %}
            <div class="vocabulary-word">{{word}}</div>
        {% endfor %}
    </div>
    {% endfor %}
</div>
{% endblock %}
{% block page_scripts %}
<script src="{{STATIC_URL}}js/playword.js"></script>
<script>
var base_url = $('.word-group').attr('data-base-url');
$('.vocabulary-word').each(function(evt){
    var word = $(this);
    word.click( function( evt ) {
        $.play_word( word.text(), base_url);
    });
});
</script>
{% endblock %}
{% block page_style %}
<style>
    .vocabulary-word {
        display: inline-block;
        width: 10em;
        text-align: center;
        margin: 3px;
        padding: 3px;
        border-radius: 4px;
    }
    .wl-0 .vocabulary-word {
        background-color: red;
        color: white;
    }
    .wl-1 .vocabulary-word {
        background-color: orange;
        color: white;
    }
    .wl-2 .vocabulary-word {
        background-color: green;
        color: white;
    }
    .wl-3 .vocabulary-word {
        background-color: indigo;
        color: white;
    }
    
</style>
{% endblock %}
