{% set title = 'Powers Ten' %}
{% extends 'master.html' %}
{% block content %}
<div class="number-entry">
    <input class="choose-number" type="number" min="1" max="999999" step="1" value="1"></input>
</div>
<table class="number-block">
    <thead>
        <tr>
            <th colspan="1">100,000</th>
            <th colspan="1">10,000</th>
            <th colspan="1">1000</th>
            <th colspan="1">100</th>
            <th colspan="1">10</th>
            <th colspan="1">1</th>
        </tr>
        
    </thead>
    <tbody>
    
    <tfoot>
        <tr class="number-text">
        </tr>
    </tfoot>
</table>
{% endblock %}
{% block page_scripts %}
    <script src="./numbers.js"></script>
{% endblock %}
{% block page_style %}
    <style type="text/css">
        .number-entry {
            text-align: center;
        }
        .number-entry .choose-number {
            font-size: 2em;
        }
        th, td {
            text-align: center;
            height: 2em;
            width: 2em;
            border-radius: 4px;
        }
        .number-block {
            width: 95%;
        }
        .number-row {
            padding-top: .3em;
        }
        .number-block .number {
            vertical-align: top;
            border-radius: 4px;
            text-align: center;
            min-width: 2em;
        }
        .factor {
            background-color: #00f0f0;
        }
        .multiple {
            background-color: #f0f000;
        }
        .number .equation {
            font-size: .5em;
        }
        .number.selected {
            background-color: black;
            color: white;            
        }
        .square {
            color: green;
        }
        
        .number-text {
            font-size: 72pt;
        }
    </style>
{% endblock %}
