body {
    padding-top: 30px;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 0;
    margin: 0;
    font-family: "Open Sans";
    background-color: #f0f0f0;
}
.location-bar {
    position: relative;
    top: -30px;
    line-height: 30px;
    font-size: 20px;
    padding-top: 1px;
    padding-bottom: 1px;
    padding-left: 3px;
    padding-right: 3px;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0;
    margin-top: 0;
    margin-after: 0;
    background-color: black;
    color: white;
}
a {
    text-decoration: none;
    color: blue;
}
a:hover {
    color: cyan;
}
.location-bar a {
    color: cyan;
}
.location-bar a:hover {
    color: white;
}

.selected.power-1 {
    background-color: red;
}
.selected.power-2 {
    background-color: orange;
}
.selected.power-3 {
    background-color: yellow;
}
.selected.power-4 {
    background-color: green;
}
.selected.power-5 {
    background-color: blue;
}
.selected.power-6 {
    background-color: indigo;
}

.factor {
    background-color: yellow;
}
.multiple {
    background-color: green;
    color: white;
}
.number.selected {
    background-color: red;
    color: white;            
}
.multiple.square {
    background-color: blue;
}
.factor.square {
    background-color: indigo;
    color: white;
}
