{% set title,ngapp = 'Counting By',"NumbersApp" %}
{% extends 'master.html' %}
{% block content %}
  {% raw %}
    <table class="number-block" ng-controller="NumberController">
        <tbody>
        <tr class="number-row" ng-repeat="row in rows">
            <td class="number" 
                ng-repeat="cell in row" ng-click="on_number(cell)" 
                ng-class="{ selected: cell.selected, square: cell.square, multiple: cell.multiple, factor: cell.factor  }"
            >
                <div class="num">{{cell.number}}</div>
                <div class="equation">{{cell.equation}}</div>
            </td>
        </tr>
        </tbody>
    </table>
  {% endraw %}
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.10/angular.min.js"></script>
{% endblock %}
{% block page_style %}
    <style type="text/css">
        .number-block {
            font-size: large;
            color: black;
            padding: 2em;
            margin: 0;
            width: 95%;
        }
        .number-row {
            padding-top: .3em;
        }
        .number-block .number {
            vertical-align: top;
            border-radius: 4px;
            text-align: center;
            min-width: 3em;
        }
        .number .equation {
            font-size: .5em;
        }
    </style>
{% endblock %}
{% block page_scripts %}
    <script src="./numbers.js"></script>
{% endblock %}
