{% set title = 'Grouped Numbers' %}
{% extends 'master.html' %}
{% block content %}
    <div class="number-entry">
        <input class="choose-number" type="number" min="0" max="100" step="1" value="0"></input>
    </div>
    <div id="number-display-holder">
    </div>
    
    <div class="templates">
    <div class="number-display">
        <div class="number number-1"></div>
        <div class="number number-2"></div>
        <div class="number number-3"></div>
        <div class="number number-4"></div>
        <div class="number number-5"></div>
        <div class="number number-6"></div>
        <div class="number number-7"></div>
        <div class="number number-8"></div>
        <div class="number number-9"></div>
        <div class="number number-10"></div>
    </div>
    </div>
    
{% endblock %}
{% block page_scripts %}
    <script src="http://fb.me/react-0.10.0.js"></script>
    <script src="./shapenums.js"></script>
{% endblock %}
{% block page_style %}
    <style type="text/css">
        .number-display.hundred {
            width: 600px;
            height: 600px;
            background-color: white;
            position: relative;
        }
        .number {
            position: absolute;
            border: thin solid #f0f0f0;
            width: 12%;
            height: 12%;
        }
        .number.enabled {
            background-color: green;
            border: thin solid black;
        }
        .number-1 {
            left: 34%;
            bottom: 14%;
        }
        .number-2 {
            left: 54%;
            bottom: 14%;
        }
        .number-3 {
            left: 34%;
            bottom: 34%;
        }
        .number-4 {
            left: 54%;
            bottom: 34%;
        }
        .number-5 {
            left: 34%;
            bottom: 54%;
        }
        .number-6 {
            left: 54%;
            bottom: 54%;
        }
        .number-7 {
            left: 34%;
            bottom: 74%;
        }
        .number-8 {
            left: 54%;
            bottom: 74%;
        }
        .number-9 {
            left: 14%;
            bottom: 34%;
        }
        .number-10 {
            left: 74%;
            bottom: 34%;
        }
        
    </style>
{% endblock %}
