{% set title = 'Introduction' %}
{% extends 'master.html' %}
{% block content %}

<p>Current Toys:</p>

<ul>
<li><a href="./countingby/">Counting By</a> click numbers to see counting-by that number</li>
<li><a href="./powersten/">Powers Ten</a> enter/scroll in number field to see decimal values displayed as collections of 1s, 10s, 100s, up to 999,999</li>
<li><a href="./polygons/shapenums.html">Grouped Numbers</a> numbers 0:100 as groups-of-groups-of 10, the same shape is applied to the overall cluster of 10s as to the individual numbers within the 10s</li>
<li><a href="./1/">Multiple Factors</a> shows factors and multiples for the clicked number</li>
<li><a href="./wordlist/">Word List</a> SK wordlist with click-to-say (computer voice currently)</li>
<li><a href="./wordlist/clickfast.html">Click Fast</a> Click on the spoken words</li>
<li><a href="./wordlist/subwords.html">Sub Words</a> Type in word-fragments to see words that contain that word-fragment (note: will load slowly due to the large word-list)</li>
<li><a href="./wordlist/innerwords.html">Inner Words</a> Type a word to see the words inside it  (note: will load slowly due to the large word-list)</li>
<li><a href="./polygons/">Polygons</a> click numbers to see polygons with that number of sides
(note, this toy requires SVG support in the browser)</li>
</ul>
{% endblock %}
{% block page_scripts %}
{% endblock %}
{% block page_style %}
    <style type="text/css">
    </style>
{% endblock %}
