<!DOCTYPE html>
<html lang="en" {% if ngapp %}ng-app="{{ngapp}}"{% endif %}>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
    <link href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
    <link href="{{root_relative}}/css/site.css" rel="stylesheet" type="text/css">
    {% block page_style %}
    {% endblock %}
    <title>Web Toys: {{title|default('Web Toys')}}</title>
  </head>
<body>
{% block header %}
<div class="location-bar"><a href="../">Web Toys</a> {{title|default('Web Toys')}}</div>
{% endblock %}
{% block content %}
{% endblock %}
<div class="scripts">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    {% block page_scripts %}
    {% endblock %}
</div>
</body>
</html>
